p {
  font-family: Lato;
}
.coach {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.coach > div {
  width: 12%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid black;
  margin-right: 1%;
  margin-bottom: 10px;
}

.coach > div.reserved {
  background-color: red;
}

.coach > div.available {
  background-color: green;
}

.coach > div.last-row {
  width: 9%;
}
.coach > div.selected {
  background-color: yellow;
}
/* Form */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

input[type='number'] {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

small.form-text {
  margin-bottom: 10px;
  font-size: 14px;
  color: #6c757d;
}

button[type='submit'] {
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]: hover;
